:root {
    --color1: blue;
    --color2: cyan;
    --color3: white;
}

/* Шапка */
section {
    padding: 100px 0;
}

header {
    padding: 200px 0;
}

header,
footer {
    background: var(--color1);
    background: -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: contain;
    background-position: right bottom;
}

.zagolovok {
    font-size: 80px;
}

/* Кроссворд */
table,
th,
td,
tr {
    border: 1px solid black;
}

td {
    font-size: 25px;
    text-align: center;
}

.gray {
    background-color: gray;
    border: 1px solid transparent;
}

.WH {
    height: 50px;
    width: 50px;
}

.lapka {
    cursor: pointer;
}

/* Подвал */
footer {
    padding: 30px 0;
}

/* Цвет */
.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.bg1 {
    background-color: var(--color1);
}

.bg2 {
    background-color: var(--color2);
}

.bg3 {
    background-color: var(--color3);
}

/* Медиа-запросы */
@media screen and (max-width: 991px) {
    .WH {
        height: 35px;
        width: 35px;
        font-size: 25px;
    }

    .zagolovok {
        font-size: 50px;
    }
}

@media screen and (max-width: 767px) {
    .WH {
        height: 30px;
        width: 30px;
        font-size: 15px;
    }
}

@media screen and (max-width: 505px) {
    .WH {
        height: 24px;
        width: 24px;
        font-size: 13px;
    }
}